<div fxLayout="column" fxLayoutAlign="space-between" style="height: 100%">
  <ui5-bar design="Header" slot="header">
    <ui5-button slot="startContent" design="Transparent" icon="close-command-field" (click)="goBack()"> Close </ui5-button>
  </ui5-bar>

  <div fxLayout="column" fxFlex fxLayoutAlign="stetch center" fxLayoutGap="1rem" class="network-form" [formGroup]="networkForm">
    <app-input
      placeholder="Consignee"
      label="Consignee"
      formControlName="consignee"
      [required]="true"
      [showColon]="true"
      [icons]="[{ icon: 'value-help', action: openConsigneeDialogBound }]"
    ></app-input>
    <app-input
      class="after-icon"
      placeholder="Consignor"
      label="Consignor"
      formControlName="consignor"
      [showColon]="true"
      [icons]="[{ icon: 'value-help', action: openConsignorDialogBound }]"
    >
      <ui5-icon name="question-mark" after (click)="toggleAvailableNetwork()"></ui5-icon>
    </app-input>

    <div class="table-container">
      <ui5-table mode="SingleSelect" *ngIf="showAvailableNetwork">
        <ui5-table-column slot="columns">
          <span>Consignor</span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span>Ship From</span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span>Unload point</span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span>Street address</span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span>Valid from - to</span>
        </ui5-table-column>

        <ui5-table-row (click)="chooseNetwork(row)" *ngFor="let row of availableNetworks$ | async">
          <ui5-table-cell>{{ row.consignorId }}</ui5-table-cell>
          <ui5-table-cell>{{ row.shipFromId }}</ui5-table-cell>
          <ui5-table-cell>{{ row.unloadingPoint }}</ui5-table-cell>
          <ui5-table-cell></ui5-table-cell>
          <ui5-table-cell>{{ row.validFrom | date }} - {{ row.validTo | date }}</ui5-table-cell>
        </ui5-table-row>
      </ui5-table>
    </div>

    <app-input
      placeholder="Ship from"
      label="Ship from"
      formControlName="shipFrom"
      [required]="true"
      [showColon]="true"
      [icons]="[
        { icon: 'add-contact', action: openCustomShipFromAddressDialogBound },
        { icon: 'value-help', action: openShipFromListDialogBound }
      ]"
    ></app-input>
    <app-input
      placeholder="Loading point"
      label="Loading point"
      formControlName="loadingPoint"
      [showColon]="true"
      [icons]="[{ icon: 'value-help', action: openLoadingPointDialogBound }]"
    ></app-input>
    <app-input
      placeholder="Ship to"
      label="Ship to"
      formControlName="shipTo"
      [required]="true"
      [showColon]="true"
      [icons]="[
        { icon: 'add-contact', action: openCustomShipToAddressDialogBound },
        { icon: 'value-help', action: openShipToListDialogBound }
      ]"
    ></app-input>
    <app-input
      placeholder="Unloading point"
      label="Unloading point"
      formControlName="unloadingPoint"
      [required]="true"
      [showColon]="true"
      [icons]="[{ icon: 'value-help', action: openUnloadingPointDialogBound }]"
    ></app-input>

    <app-datepicker formControlName="pickupDate" [required]="true" label="Pickup date"></app-datepicker>

    <app-select
      placeholder="Service level"
      label="Service level"
      [selectionOptions]="serviceLevelOptions"
      formControlName="serviceLevel"
    ></app-select>
    <app-select
      placeholder="Planning type"
      label="Planning type"
      [selectionOptions]="planningTypesOptions"
      formControlName="planningType"></app-select>
    <app-select
      placeholder="Transport type"
      label="Transport type"
      [selectionOptions]="transportTypeOptions"
      formControlName="transportType"></app-select>

    <app-checkbox formControlName="customs" label="Customs"></app-checkbox>
    <app-checkbox formControlName="useLoadingMeters" label="Use loading meters"></app-checkbox>
    <app-checkbox formControlName="doNotMerge" label="Do not merge"></app-checkbox>
  </div>
  <ui5-bar design="Footer">
    <div slot="endContent">
      <ui5-button design="Emphasized" (click)="createTbr()"> Create </ui5-button>
    </div>
  </ui5-bar>
</div>

<app-dialog #parmaDialog [dialogHeader]="parmaDialogHeader" [hideDefaultFooter]="true" [accessibleName]="parmaDialogAccessibleName">
<!--  <app-input placeholder="Search" [control]="networkForm.controls.pickupDate" [icons]="[{ icon: 'clear' }]"></app-input>-->

  <ui5-list no-data-text="No data">
    <ui5-li
      *ngFor="let parma of consignors$ | async"
      [description]="parma.info"
      [additionalText]="parma.parma"
      (click)="selectParma(parma)"
    >
      {{ parma.name }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="closeParmaDialog()"> Cancel </ui5-button>
  </div>
</app-dialog>

<app-dialog #unloadingPointDialog dialogHeader="Unloading point" [hideDefaultFooter]="true" accessibleName="Unloading point value help">
  <ui5-list no-data-text="No data">
    <ui5-li
      *ngFor="let consignor of unloadingPoints$ | async"
      [description]="consignor.info"
      [additionalText]="consignor.parma"
      (click)="selectLoadingPoint(consignor.parma)"
    >
      {{ consignor.name }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="closeUnloadingPointDialog()"> Cancel </ui5-button>
  </div>
</app-dialog>

<app-dialog #shipListDialog [hideDefaultFooter]="true" [dialogHeader]="shipListDialogHeader">
  <ui5-list no-data-text="No data">
    <ui5-li
      *ngFor="let shipItem of shipItems$ | async"
      [description]="shipItem.info"
      [additionalText]="shipItem.parma"
      (click)="selectShipItem(shipItem)"
    >
      {{ shipItem.name }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="closeShipListDialog()"> Cancel </ui5-button>
  </div>
</app-dialog>

<app-dialog #customAddressDialog [dialogHeader]="addressDialogHeader" (close)="closeCustomAddressDialog()" (save)="saveCustomAddress()">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" class="custom-address-form">
    <app-input placeholder="Name" label="Name"></app-input>
    <app-input placeholder="Country" label="Country"></app-input>
    <app-input placeholder="Postal code" label="Postal code"></app-input>
    <app-input placeholder="City" label="City"></app-input>
    <app-input placeholder="Street" label="Street"></app-input>
  </div>
</app-dialog>
