<ui5-bar design="Header" slot="header">
  <ui5-button slot="startContent" design="Transparent" icon="close-command-field" (click)="goBack()"> Close
  </ui5-button>
</ui5-bar>

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" class="network-form" *ngIf="initFinish">
  <app-input
    placeholder="Consignor"
    label="Consignor"
    [control]="networkForm.controls.consignor"
    [required]="true"
    [showColon]="true"
    [icons]="[{ icon: 'value-help', action: openConsignorDialogBound }]"
  ></app-input>
  <app-input
    placeholder="Consignee"
    label="Consignee"
    [control]="networkForm.controls.consignee"
    [required]="true"
    [showColon]="true"
    [icons]="[{ icon: 'value-help', action: openConsignorDialogBound }]"
  ></app-input>
  <app-input
    placeholder="Ship from"
    label="Ship from"
    [control]="networkForm.controls.shipFrom"
    [required]="true"
    [showColon]="true"
    [icons]="[
      { icon: 'add-contact', action: openCustomAddressDialogBound },
      { icon: 'value-help', action: openShipListDialogBound }
    ]"
  ></app-input>
  <app-input
    placeholder="Ship to"
    label="Ship to"
    [control]="networkForm.controls.shipTo"
    [required]="true"
    [showColon]="true"
    [icons]="[
      { icon: 'add-contact', action: openCustomAddressDialogBound },
      { icon: 'value-help', action: openShipListDialogBound }
    ]"
  ></app-input>
  <app-input
    placeholder="Unloading point"
    label="Unloading point"
    [control]="networkForm.controls.unloadingPoint"
    [required]="true"
    [showColon]="true"
    [icons]="[{ icon: 'value-help', action: openUnloadingPointDialogBound }]"
  ></app-input>

  <app-datepicker
    [control]="networkForm.controls.pickupDate"
    [required]="true" label="Pickup date"></app-datepicker>
</div>

<app-dialog #consignorDialog dialogHeader="Consignors" [hideDefaultFooter]="true" accessibleName="Consignor Value Help">
  <app-input placeholder="Search" [control]="networkForm.controls.pickupDate" [icons]="[{ icon: 'clear' }]"></app-input>

  <ui5-list no-data-text="No data">
    <ui5-li
      *ngFor="let consignor of consignors"
      [description]="consignor.info"
      [additionalText]="consignor.parma"
      (click)="selectUnlaodingPoint(consignor)"
    >
      {{ consignor.name }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="closeConsignorDialog()">Cancel</ui5-button>
  </div>
</app-dialog>

<app-dialog #unloadingPointDialog dialogHeader="Unloading point" [hideDefaultFooter]="true" accessibleName="Unloading point value help">
  <ui5-list no-data-text="No data">
    <ui5-li
      *ngFor="let consignor of consignors"
      [description]="consignor.info"
      [additionalText]="consignor.parma"
      (click)="selectUnlaodingPoint(consignor)"
    >
      {{ consignor.name }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="closeUnloadingPointDialog()">Cancel</ui5-button>
  </div>
</app-dialog>

<app-dialog
  #shipListDialog
  dialogHeader="Ship list"
  accessibleName="Ship list dialog"
  (close)="closeShipListDialog()"
  (save)="saveShipListDialog()"
>
  <ui5-list no-data-text="No data">
    <ui5-li
      *ngFor="let consignor of consignors"
      [description]="consignor.info"
      [additionalText]="consignor.parma"
      (click)="selectShipItem(consignor)"
    >
      {{ consignor.name }}
    </ui5-li>
  </ui5-list>
</app-dialog>

<app-dialog
  #customAddressDialog
  dialogHeader="Custom Address"
  accessibleName="Custom address dialog"
  (close)="closeCustomAddressDialog()"
  (save)="saveCustomAddress()"
>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" class="custom-address-form">
    <app-input placeholder="Name" label="Name"></app-input>
    <app-input placeholder="Country" label="Country"></app-input>
    <app-input placeholder="Postal code" label="Postal code"></app-input>
    <app-input placeholder="City" label="City"></app-input>
    <app-input placeholder="Street" label="Street"></app-input>
  </div>
</app-dialog>
