<div *appUserHasRoles="['EXPRESS_REQUESTER_LIMITED']" fxLayout="column" fxLayoutAlign="space-between" style="height: 100%">
  <ui5-bar design="Header" slot="header">
    {{ 'LIMITED' }}
    <ui5-button slot="startContent" design="Transparent" icon="close-command-field" (click)="goBack()">
      {{ 'COMMON.BUTTON_CLOSE' | translate }}
    </ui5-button>
  </ui5-bar>

  <div fxLayout="column" fxFlex fxLayoutAlign="stetch center" fxLayoutGap="1rem" class="network-form" [formGroup]="networkForm">
    <app-input
      [placeholder]="'COMMON.SHIP_FROM' | translate | titlecase"
      [label]="'COMMON.SHIP_FROM' | translate | titlecase"
      [formatValue]="formatShipFromValue"
      formControlName="shipFrom"
      [readonly]="true"
      [required]="true"
      [icons]="[
        { icon: 'add-contact', action: openCustomShipFromAddressDialogBound },
        { icon: 'value-help', action: openShipFromListDialogBound }
      ]"></app-input>
    <app-input
      [placeholder]="'COMMON.SHIP_TO' | translate | titlecase"
      [label]="'COMMON.SHIP_TO' | translate | titlecase"
      [formatValue]="formatShipToValue"
      formControlName="shipTo"
      [readonly]="true"
      [required]="true"
      [icons]="[
        { icon: 'add-contact', action: openCustomShipToAddressDialogBound },
        { icon: 'value-help', action: openShipToListDialogBound }
      ]"></app-input>
    <app-input
      [placeholder]="'COMMON.UNLOADING_POINT' | translate | titlecase"
      [label]="'COMMON.UNLOADING_POINT' | translate | titlecase"
      formControlName="unloadingPoint"
      [readonly]="true"
      [required]="true"
      [icons]="[{ icon: 'value-help', action: openUnloadingPointDialogBound }]"></app-input>

    <app-input
      [placeholder]="'COMMON.CONSIGNEE' | translate | titlecase"
      [label]="'COMMON.CONSIGNEE' | translate | titlecase"
      formControlName="consignee"
      [required]="true"
      [readonly]="true"></app-input>

    <app-input
      [placeholder]="'COMMON.CONSIGNOR' | translate | titlecase"
      [label]="'COMMON.CONSIGNOR' | translate | titlecase"
      formControlName="consignor"
      [required]="true"
      [formatValue]="formatConsignorValue"
      [icons]="[{ icon: 'value-help', action: openConsignorDialogBound }]">
    </app-input>
    <app-input
      [placeholder]="'COMMON.PAYER' | translate | titlecase"
      [label]="'COMMON.PAYER' | translate | titlecase"
      [readonly]="true"
      formControlName="payer"></app-input>

    <app-datepicker formControlName="pickupDate" [required]="true" [label]="'COMMON.PICKUP_DATE' | translate | titlecase"></app-datepicker>

    <app-select
      [placeholder]="'COMMON.SERVICE_LEVEL' | translate | titlecase"
      [label]="'COMMON.SERVICE_LEVEL' | translate | titlecase"
      [selectionOptions]="serviceLevelOptions"
      formControlName="serviceLevel"></app-select>
    <app-select
      [placeholder]="'COMMON.PLANNING_TYPE' | translate"
      [label]="'COMMON.PLANNING_TYPE' | translate | titlecase"
      [selectionOptions]="planningTypesOptions"
      formControlName="planningType"></app-select>
    <app-select
      [placeholder]="'COMMON.TRANSPORT_TYPE' | translate"
      [label]="'COMMON.TRANSPORT_TYPE' | translate | titlecase"
      [selectionOptions]="transportTypeOptions"
      formControlName="transportType"></app-select>

    <app-checkbox formControlName="customs" [label]="'COMMON.CUSTOMS' | translate"></app-checkbox>
    <!--    <app-checkbox formControlName="useLoadingMeters" [label]="'COMMON.USE_LOADING_METERS' | translate | titlecase"></app-checkbox>-->
  </div>
  <ui5-bar design="Footer">
    <div slot="endContent">
      <ui5-button design="Emphasized" (click)="createTbr()"> {{ 'COMMON.BUTTON_CREATE' | translate }} </ui5-button>
    </div>
  </ui5-bar>
</div>
<div *appUserHasRoles="['EXPRESS_REQUESTER_UNLIMITED']" fxLayout="column" fxLayoutAlign="space-between" style="height: 100%">
  <ui5-bar design="Header" slot="header">
    {{ 'UNLIMITED' }}
    <ui5-button slot="startContent" design="Transparent" icon="close-command-field" (click)="goBack()">
      {{ 'COMMON.BUTTON_CLOSE' | translate }}
    </ui5-button>
  </ui5-bar>

  <div fxLayout="column" fxFlex fxLayoutAlign="stetch center" fxLayoutGap="1rem" class="network-form" [formGroup]="networkForm">
    <app-input
      [placeholder]="'COMMON.SHIP_FROM' | translate | titlecase"
      [label]="'COMMON.SHIP_FROM' | translate | titlecase"
      formControlName="shipFrom"
      [required]="true"
      [formatValue]="formatShipFromValueUnlimited"
      [icons]="[{ icon: 'add-contact', action: openCustomShipFromAddressDialogBound }]"></app-input>

    <app-input
      [placeholder]="'COMMON.SHIP_TO' | translate | titlecase"
      [label]="'COMMON.SHIP_TO' | translate | titlecase"
      formControlName="shipTo"
      [required]="true"
      [formatValue]="formatShipToValueUnlimited"
      [icons]="[{ icon: 'add-contact', action: openCustomShipToAddressDialogBound }]"></app-input>
    <app-input
      [placeholder]="'COMMON.UNLOADING_POINT' | translate | titlecase"
      [label]="'COMMON.UNLOADING_POINT' | translate | titlecase"
      formControlName="unloadingPoint"
      [required]="true"
      [icons]="[{ icon: 'value-help', action: openUnloadingPointDialogBound }]"></app-input>

    <app-input
      [placeholder]="'COMMON.CONSIGNEE' | translate | titlecase"
      [label]="'COMMON.CONSIGNEE' | translate | titlecase"
      formControlName="consignee"
      [formatValue]="formatConsigneeValueUnlimited"
      [icons]="[{ icon: 'value-help', action: openConsigneeDialogBound }]"></app-input>

    <app-input
      [placeholder]="'COMMON.CONSIGNOR' | translate | titlecase"
      [label]="'COMMON.CONSIGNOR' | translate | titlecase"
      formControlName="consignor"
      [formatValue]="formatConsignorValueUnlimited"
      [icons]="[{ icon: 'value-help', action: openConsignorDialogBound }]">
    </app-input>

    <app-input
      [placeholder]="'COMMON.PAYER' | translate | titlecase"
      [label]="'COMMON.PAYER' | translate | titlecase"
      formControlName="payer"></app-input>

    <app-datepicker formControlName="pickupDate" [required]="true" [label]="'COMMON.PICKUP_DATE' | translate | titlecase"></app-datepicker>

    <app-select
      [placeholder]="'COMMON.SERVICE_LEVEL' | translate | titlecase"
      [label]="'COMMON.SERVICE_LEVEL' | translate | titlecase"
      [selectionOptions]="serviceLevelOptions"
      formControlName="serviceLevel"></app-select>
    <app-select
      [placeholder]="'COMMON.TYPE' | translate"
      [label]="'COMMON.TYPE' | translate | titlecase"
      [selectionOptions]="planningTypesOptions"
      formControlName="type"></app-select>
    <app-select
      [placeholder]="'COMMON.TRANSPORT_TYPE' | translate"
      [label]="'COMMON.TRANSPORT_TYPE' | translate | titlecase"
      [selectionOptions]="transportTypeOptions"
      formControlName="transportType"></app-select>

    <app-checkbox formControlName="customs" [label]="'COMMON.CUSTOMS' | translate"></app-checkbox>
    <!--    <app-checkbox formControlName="useLoadingMeters" [label]="'COMMON.USE_LOADING_METERS' | translate | titlecase"></app-checkbox>-->
  </div>
  <ui5-bar design="Footer">
    <div slot="endContent">
      <ui5-button design="Emphasized" (click)="createTbr()"> {{ 'COMMON.BUTTON_CREATE' | translate }} </ui5-button>
    </div>
  </ui5-bar>
</div>

<app-dialog
  #consignorDialog
  [dialogHeader]="'COMMON.CONSIGNOR' | translate | titlecase"
  [hideDefaultFooter]="true"
  [accessibleName]="'Consignor Value Help'">
  <!--  <app-input placeholder="Search" [control]="networkForm.controls.pickupDate" [icons]="[{ icon: 'clear' }]"></app-input>-->

  <ui5-list [noDataText]="'COMMON.NO_DATA' | translate">
    <ui5-li
      *ngFor="let consignor of lostOfConsignors$ | async"
      [description]="consignor.parmaId"
      [additionalText]="consignor.parmaCountryCode"
      (click)="selectConsignor(consignor)">
      {{ consignor.parmaName }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="consignorDialog.closeDialog()"> {{ 'COMMON.BUTTON_CANCEL' | translate }} </ui5-button>
  </div>
</app-dialog>

<app-dialog
  #consigneeDialog
  [dialogHeader]="'COMMON.CONSIGNEE' | translate | titlecase"
  [hideDefaultFooter]="true"
  [accessibleName]="'Consignees Value Help'">
  <!--  <app-input placeholder="Search" [control]="networkForm.controls.pickupDate" [icons]="[{ icon: 'clear' }]"></app-input>-->

  <ui5-list [noDataText]="'COMMON.NO_DATA' | translate">
    <ui5-li
      *ngFor="let consignee of listOfConsignees$ | async"
      [description]="consignee.parmaId"
      [additionalText]="consignee.parmaCountryCode"
      (click)="selectConsignee(consignee)">
      {{ consignee.parmaName }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="consigneeDialog.closeDialog()"> {{ 'COMMON.BUTTON_CANCEL' | translate }} </ui5-button>
  </div>
</app-dialog>

<app-dialog #unloadingPointDialogRef dialogHeader="Unloading point" [hideDefaultFooter]="true" accessibleName="Unloading point value help">
  <ui5-list [noDataText]="'COMMON.NO_DATA' | translate">
    <ui5-li *ngFor="let unloadPoint of unloadingPoints$ | async" (click)="selectLoadingPoint(unloadPoint)">
      {{ unloadPoint }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="unloadingPointDialogRef.closeDialog()"> {{ 'COMMON.BUTTON_CANCEL' | translate }} </ui5-button>
  </div>
</app-dialog>

<app-dialog #shipFromListDialog [hideDefaultFooter]="true" [dialogHeader]="'COMMON.SHIP_FROM' | translate | titlecase">
  <ui5-list [noDataText]="'COMMON.NO_DATA' | translate">
    <ui5-li
      *ngFor="let shipFrom of listOfShipFrom$ | async"
      [description]="shipFrom.parmaId"
      [additionalText]="shipFrom.parmaCountryCode"
      (click)="selectShipItem(shipFrom)">
      {{ shipFrom.parmaName }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="shipFromListDialog.closeDialog()"> {{ 'COMMON.BUTTON_CANCEL' | translate }} </ui5-button>
  </div>
</app-dialog>

<app-dialog #shipToListDialog [hideDefaultFooter]="true" [dialogHeader]="'COMMON.SHIP_TO' | translate | titlecase">
  <ui5-list [noDataText]="'COMMON.NO_DATA' | translate">
    <ui5-li
      *ngFor="let shipTo of listOfShipTo$ | async"
      [description]="shipTo.parmaId"
      [additionalText]="shipTo.parmaCountryCode"
      (click)="selectShipItem(shipTo)">
      {{ shipTo.parmaName }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="shipToListDialog.closeDialog()"> {{ 'COMMON.BUTTON_CANCEL' | translate }} </ui5-button>
  </div>
</app-dialog>

<app-dialog
  #customAddressDialog
  [dialogHeader]="addressDialogHeader | translate | titlecase"
  (close)="closeCustomAddressDialog()"
  (save)="saveCustomAddress()">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" class="custom-address-form" [formGroup]="customAddressForm">
    <app-input
      formControlName="name"
      [placeholder]="'COMMON.ADDRESS_NAME' | translate | titlecase"
      [label]="'COMMON.ADDRESS_NAME' | translate | titlecase"></app-input>
    <app-input
      formControlName="countryCode"
      [placeholder]="'COMMON.ADDRESS_COUNTRY' | translate | titlecase"
      [label]="'COMMON.ADDRESS_COUNTRY' | translate | titlecase"></app-input>
    <app-input
      formControlName="postalCode"
      [placeholder]="'COMMON.ADDRESS_POSTAL_CODE' | translate | titlecase"
      [label]="'COMMON.ADDRESS_POSTAL_CODE' | translate | titlecase"></app-input>
    <app-input
      formControlName="city"
      [placeholder]="'COMMON.ADDRESS_CITY' | translate | titlecase"
      [label]="'COMMON.ADDRESS_CITY' | translate | titlecase"></app-input>
    <app-input
      formControlName="street1"
      [placeholder]="'COMMON.ADDRESS_STREET' | translate | titlecase"
      [label]="'COMMON.ADDRESS_STREET' | translate | titlecase"></app-input>

    <ui5-card class="medium" *ngIf="addressToApprove">
      <ui5-card-header
        slot="header"
        [titleText]="addressToApprove"
        [status]="(customAddressForm.controls.isAddressValidated.value ? 'COMMON.APPROVED' : 'COMMON.UNAPPROVED') | translate">
        <ui5-icon name="locate-me" slot="avatar"></ui5-icon>
        <ui5-button
          slot="action"
          [design]="customAddressForm.controls.isAddressValidated.value ? 'Negative' : 'Positive'"
          (click)="approveAddress()">
          {{ (customAddressForm.controls.isAddressValidated.value ? 'COMMON.BUTTON_DISAPPROVE' : 'COMMON.BUTTON_APPROVE') | translate }}
        </ui5-button>
      </ui5-card-header>
    </ui5-card>
  </div>
</app-dialog>
