<div fxLayout="column" style="height: 100%;" >
  <ui5-bar design="Header" slot="header">
    <ui5-label>TBRs</ui5-label>
  </ui5-bar>
  <div fxFlex>
  <ui5-panel accessible-role="Complementary" [attr.header-text]="type" *ngFor="let type of tbrTypes">
    <ui5-list no-data-text="No Data Available">
      <ui5-li (click)="selectTbr(tbr)" *ngFor="let tbr of (tbrList | async | tbrType: type) ">
        <div class="object-list-item">
          <ui5-label>{{ tbr.shipToName | lowercase }}</ui5-label>
          <div class="object-list-item__parms">
            <ui5-icon class="samples-margin" name="approvals"></ui5-icon>
            <span>1234</span>
          </div>
          <ui5-label>Name</ui5-label>
          <ui5-label>Name</ui5-label>
          <span>Name</span>
          <span>Name</span>
        </div>
      </ui5-li>
    </ui5-list>
  </ui5-panel>
  </div>
  <ui5-bar design="Footer" slot="footer">
    <ui5-button slot="startContent" icon="add" design="Transparent"></ui5-button>
    <ui5-button slot="endContent" icon="refresh"></ui5-button>
  </ui5-bar>
</div>
