<div fxLayout="column" style="height: 100%;">
  <ui5-bar design="Header" slot="header">
    <ui5-label>TBRs</ui5-label>
  </ui5-bar>
  <div fxFlex>
    <ui5-panel accessible-role="Complementary" [attr.header-text]="type" *ngFor="let type of tbrTypes">
      <ui5-list no-data-text="No Data Available">
        <ui5-li style="height: 130px" (click)="selectTbr(tbr)" *ngFor="let tbr of (tbrList | async | tbrType: type) ">
          <div fxLayout="column" fxLayoutGap="0.25rem">
            <ui5-label
              style="margin-bottom: 0.25rem;font-weight: bold;text-transform: capitalize;">{{ tbr.shipToName | lowercase }}</ui5-label>
            <div fxLayout fxLayoutAlign="space-between end">
              <ui5-icon class="samples-margin" name="approvals"
                        style="height: 1.5rem; width: 1.5rem; color: black"></ui5-icon>
              <span>{{ tbr.consigneeId }}</span>
              <span>{{ tbr.unloadingPoint }}</span>
              <ui5-icon class="samples-margin" name="laptop"
                        style="height: 1.5rem; width: 1.5rem; color: black"></ui5-icon>
            </div>
            <ui5-label>{{tbr.shipFromId}} - {{tbr.shipFromName}}</ui5-label>
            <ui5-label>{{tbr.consignorId}} - {{tbr.consignorName}}</ui5-label>
            <ui5-label>Pick-up date: {{tbr.deliveryDate | parseDate}}</ui5-label>
            <ui5-label>Status: <span
              style="color: {{tbr.shipitStatus | shipitStatus:'color'}}"> {{ tbr.shipitStatus | shipitStatus }} </span>
            </ui5-label>
          </div>
        </ui5-li>
      </ui5-list>
    </ui5-panel>
  </div>
  <ui5-bar design="Footer" slot="footer">
    <ui5-button slot="startContent" icon="add" design="Transparent"></ui5-button>
    <ui5-button slot="endContent" icon="refresh"></ui5-button>
  </ui5-bar>
</div>
