<div fxLayout="column" style="height: 100%" *ngIf="details | async as tbrDetails">
  <ui5-bar design="Header" slot="header">
    <ui5-button slot="startContent" design="Transparent" icon="close-command-field" (click)="goBack()"> Close </ui5-button>
  </ui5-bar>

  <app-tbr-network [tbrDetails]="tbrDetails"></app-tbr-network>

  <div fxFlex>
    <ui5-bar design="Subheader">
      <div slot="startContent">
        <ui5-button style="margin-right: 0.5rem; border-left: 1px solid grey" icon="group-2"></ui5-button>
        <ui5-button style="margin-right: 0.5rem; margin-left: 0.5rem" icon="add" (click)="openAddDialog()">Add line </ui5-button>
        <ui5-button style="margin-right: 0.5rem" icon="increase-line-height">Split</ui5-button>
        <ui5-button style="margin-right: 0.5rem" icon="duplicate">Split lines</ui5-button>
        <ui5-button (click)="openAddRefDialog()">Reference</ui5-button>
      </div>
      <div slot="endContent">
        <ui5-label style="margin-right: 0.25rem">Pick-Up Date:</ui5-label>
        <ui5-date-picker [value]="tbrDetails.deliveryDate"></ui5-date-picker>
      </div>
    </ui5-bar>
    <ui5-table mode="MultiSelect" (selectionChange)="log($event)">
      <!-- Columns -->
      <ui5-table-column slot="columns">
        <span>Part</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>Name</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>Req. Qty</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>Ship Qty</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>PO</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>Weight</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>Volume</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>#</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>THU</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>Sub HU</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>No Del</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>Mix</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>Wh. loc</span>
      </ui5-table-column>

      <ui5-table-row data-ui5-compact-size [data-line]="row" *ngFor="let row of tbrDetails.lines">
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.articleNumber }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.articleName }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.requestedQuantity }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">
          <ui5-input style="width: 140px !important" [value]="row.packagedQuantity"></ui5-input>
        </ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.purchaseOrderNumber }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.weightSUL }} {{ row.weightSULUom }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.volumeSUL }} {{ row.volumeSULUom }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.quantity }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">
          <ui5-input [value]="row.type"></ui5-input>
        </ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.subHu }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">
          <ui5-icon name="cancel" style="color: red"></ui5-icon>
        </ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">
          <ui5-icon *ngIf="row.shipUnitLineId" name="circle-task-2" style="color: orange"></ui5-icon>
          <ui5-icon *ngIf="row.mixValid" name="circle-task-2" style="color: #47962d"></ui5-icon>
        </ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.whLoc }}</ui5-table-cell>
      </ui5-table-row>
    </ui5-table>
  </div>

  <ui5-bar design="Footer">
    <ui5-button slot="startContent" icon="delete" design="Negative" (click)="goBack()">Do not deliver full shipment </ui5-button>
    <ui5-switch text-on="Imperial" text-off="Metric"></ui5-switch>
    <div slot="endContent">
      <ui5-button design="Positive" icon="save" style="margin-right: 1rem"> Save draft </ui5-button>
      <ui5-button design="Emphasized" icon="accounting-document-verification" (click)="goToWorkflow(tbrDetails.shipitId)">
        Continue to details</ui5-button
      >
    </div>
  </ui5-bar>
</div>

<ui5-dialog #addLineDialog header-text="Add Line">
  <form fxLayout="column" fxLayoutGap="1rem">
    <div fxLayout="column" fxLayoutGap="0.25rem">
      <ui5-label for="partNo" required>Part Number:</ui5-label>
      <ui5-input #partNo id="partNo" style="width: 100%"></ui5-input>
    </div>
    <div fxLayout="column" fxLayoutGap="0.25rem">
      <ui5-label for="plannedQty" required>Planned Qty:</ui5-label>
      <ui5-input #plannedQty id="plannedQty" type="Number" style="width: 100%"></ui5-input>
    </div>
    <div fxLayout="column" fxLayoutGap="0.25rem">
      <ui5-label for="poNumber" required>PO Number:</ui5-label>
      <ui5-input #poNumber id="poNumber" type="Number" style="width: 100%"></ui5-input>
    </div>
  </form>
  <div slot="footer" style="justify-content: end; padding: 4px 7px 2px; background-color: #2f3c48; width: 100%; display: flex">
    <ui5-button icon="cancel" design="Negative" style="margin-right: 1rem" (click)="cancelAddLine()"></ui5-button>
    <ui5-button icon="save" (click)="saveAddLine()" [disabled]="addLineFormGroup.invalid"></ui5-button>
  </div>
</ui5-dialog>

<ui5-dialog #addReferencesDialog header-text="Add References">
  <form fxLayout="column" fxLayoutGap="1rem">
    <div fxLayout="column" fxLayoutGap="0.25rem">
      <ui5-label for="msgToCarrier" required>Message to carrier:</ui5-label>
      <ui5-input #msgToCarrier id="msgToCarrier" style="width: 100%"></ui5-input>
    </div>
    <div fxLayout="column" fxLayoutGap="0.25rem">
      <ui5-label for="pickupRef" required>Pickup reference:</ui5-label>
      <ui5-input #pickupRef id="pickupRef" style="width: 100%"></ui5-input>
    </div>
  </form>
  <div slot="footer" style="justify-content: end; padding: 4px 7px 2px; background-color: #2f3c48; width: 100%; display: flex">
    <ui5-button icon="cancel" design="Negative" style="margin-right: 1rem" (click)="cancelAddRef()"></ui5-button>
    <ui5-button icon="save" (click)="saveAddRef()"></ui5-button>
  </div>
</ui5-dialog>
