<div fxLayout="column" style="height: 100%" *ngIf="details | async as tbrDetails">
  <ui5-bar design="Header" slot="header">
    <ui5-button slot="startContent" design="Transparent" icon="close-command-field" (click)="goBack()"> {{'COMMON.BUTTON_CLOSE' | translate }} </ui5-button>
  </ui5-bar>

  <app-tbr-network [tbrDetails]="tbrDetails"></app-tbr-network>

  <div fxFlex>
    <ui5-bar design="Subheader">
      <div slot="startContent">
        <ui5-button style="margin-right: 0.5rem; border-left: 1px solid grey" icon="group-2"></ui5-button>
        <ui5-button style="margin-right: 0.5rem; margin-left: 0.5rem" icon="add" (click)="openAddDialog()">{{'TBR_DETAILS.ADD_LINE' | translate | titlecase}} </ui5-button>
        <ui5-button style="margin-right: 0.5rem" icon="increase-line-height">{{'TBR_DETAILS.SPLIT' | translate | titlecase}}</ui5-button>
        <ui5-button style="margin-right: 0.5rem" icon="duplicate">{{'TBR_DETAILS.SPLIT_LINES' | translate | titlecase}}</ui5-button>
        <ui5-button icon="add" (click)="openAddRefDialog()">{{'TBR_DETAILS.ADD_REFERENCES' | translate | titlecase}}</ui5-button>
      </div>
      <div slot="endContent">
        <ui5-label style="margin-right: 0.25rem">{{'COMMON.PICKUP_DATE' | translate | titlecase }}:</ui5-label>
        <ui5-date-picker [value]="tbrDetails.deliveryDate"></ui5-date-picker>
      </div>
    </ui5-bar>
    <ui5-table mode="MultiSelect" (selectionChange)="log($event)">
      <!-- Columns -->
      <ui5-table-column slot="columns">
        <span>{{'COMMON.PART' | translate | titlecase }}</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>{{'COMMON.PART_NAME' | translate | titlecase }}</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>{{'COMMON.REQUESTED_QTY' | translate | titlecase }}</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>{{'COMMON.SHIPPED_QTY' | translate | titlecase }}</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>{{'COMMON.PO_NUMBER' | translate | titlecase }}</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>{{'COMMON.WEIGHT' | translate | titlecase }}</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>{{'COMMON.VOLUME' | translate | titlecase }}</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>#</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>{{'COMMON.THU' | translate  }}</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>{{'COMMON.SUB_HU' | translate | titlecase }}</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>{{'TBR_DETAILS.NO_DELIVERY' | translate | titlecase}}</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>{{'TBR_DETAILS.MIX' | translate | titlecase}}</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span>{{'TBR_DETAILS.WH_LOCATION' | translate | titlecase}}</span>
      </ui5-table-column>

      <ui5-table-row data-ui5-compact-size [data-line]="row" *ngFor="let row of tbrDetails.lines">
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.articleNumber }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.articleName }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.requestedQuantity }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">
          <ui5-input style="width: 140px !important" [value]="row.packagedQuantity"></ui5-input>
        </ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.purchaseOrderNumber }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.weightSUL }} {{ row.weightSULUom }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.volumeSUL }} {{ row.volumeSULUom }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.quantity }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">
          <ui5-input [value]="row.type"></ui5-input>
        </ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.subHu }}</ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">
          <ui5-icon name="cancel" style="color: red"></ui5-icon>
        </ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">
          <ui5-icon *ngIf="row.shipUnitLineId" name="circle-task-2" style="color: orange"></ui5-icon>
          <ui5-icon *ngIf="row.mixValid" name="circle-task-2" style="color: #47962d"></ui5-icon>
        </ui5-table-cell>
        <ui5-table-cell (click)="navigateToThuDetails(row, tbrDetails.shipitId)">{{ row.whLoc }}</ui5-table-cell>
      </ui5-table-row>
    </ui5-table>
  </div>

  <ui5-bar design="Footer">
    <ui5-button slot="startContent" icon="delete" design="Negative" (click)="goBack()">{{'TBR_DETAILS.BUTTON_DO_NOT_DELIVER_FULL' | translate }}</ui5-button>
    <ui5-switch [textOn]="'COMMON.IMPERIAL' | translate" [textOff]="'COMMON.METRIC' | translate"></ui5-switch>
    <div slot="endContent">
      <ui5-button design="Positive" icon="save" style="margin-right: 1rem"> {{'COMMON.BUTTON_SAVE_DRAFT' | translate | titlecase }}</ui5-button>
      <ui5-button design="Emphasized" icon="accounting-document-verification" (click)="goToWorkflow(tbrDetails.shipitId)">
        {{'TBR_DETAILS.BUTTON_CONTINUE_TO_DETAILS' | translate }}</ui5-button
      >
    </div>
  </ui5-bar>
</div>

<ui5-dialog #addLineDialog [headerText]="'TBR_DETAILS.ADD_LINE' | translate | titlecase">
  <form fxLayout="column" fxLayoutGap="1rem">
    <div fxLayout="column" fxLayoutGap="0.25rem">
      <ui5-label for="partNo" required>{{'COMMON.PART_NUMBER' | translate | titlecase }}:</ui5-label>
      <ui5-input #partNo id="partNo" style="width: 100%"></ui5-input>
    </div>
    <div fxLayout="column" fxLayoutGap="0.25rem">
      <ui5-label for="plannedQty" required>{{'COMMON.REQUESTED_QTY' | translate | titlecase }}:</ui5-label>
      <ui5-input #plannedQty id="plannedQty" type="Number" style="width: 100%"></ui5-input>
    </div>
    <div fxLayout="column" fxLayoutGap="0.25rem">
      <ui5-label for="poNumber" required>{{'COMMON.PO_NUMBER' | translate | titlecase }}:</ui5-label>
      <ui5-input #poNumber id="poNumber" type="Number" style="width: 100%"></ui5-input>
    </div>
  </form>
  <div slot="footer" style="justify-content: end; padding: 4px 7px 2px; background-color: #2f3c48; width: 100%; display: flex">
    <ui5-button icon="cancel" design="Negative" style="margin-right: 1rem" (click)="cancelAddLine()"></ui5-button>
    <ui5-button icon="save" (click)="saveAddLine()" [disabled]="addLineFormGroup.invalid"></ui5-button>
  </div>
</ui5-dialog>

<ui5-dialog #addReferencesDialog [headerText]="'TBR_DETAILS.ADD_REFERENCES' | translate | titlecase">
  <form fxLayout="column" fxLayoutGap="1rem">
    <div fxLayout="column" fxLayoutGap="0.25rem">
      <ui5-label for="msgToCarrier" required>{{'COMMON.MESSAGE_TO_CARRIER' | translate | titlecase }}:</ui5-label>
      <ui5-input #msgToCarrier id="msgToCarrier" style="width: 100%"></ui5-input>
    </div>
    <div fxLayout="column" fxLayoutGap="0.25rem">
      <ui5-label for="pickupRef" required>{{'COMMON.PICKUP_REFERENCE' | translate | titlecase }}:</ui5-label>
      <ui5-input #pickupRef id="pickupRef" style="width: 100%"></ui5-input>
    </div>
  </form>
  <div slot="footer" style="justify-content: end; padding: 4px 7px 2px; background-color: #2f3c48; width: 100%; display: flex">
    <ui5-button icon="cancel" design="Negative" style="margin-right: 1rem" (click)="cancelAddRef()"></ui5-button>
    <ui5-button icon="save" (click)="saveAddRef()"></ui5-button>
  </div>
</ui5-dialog>
