<div fxLayout="column" class="h-100" *ngIf="line$ | async as line">
  <ui5-bar design="Header" slot="header">
    <ui5-button slot="startContent" design="Transparent" icon="close-command-field" (click)="goBack()">
      {{ 'COMMON.BUTTON_CLOSE' | translate }}
    </ui5-button>
  </ui5-bar>

  <ui5-page>
    <div fxLayout fxLayoutAlign="space-between" class="thu-details-header">
      <div fxFlex="60" fxLayout="column" fxLayoutGap="1rem">
        <ui5-label> {{ line.articleNumber }} </ui5-label>
        <div fxLayout>
          <img src="assets/volvo-logo.png" alt="volvoLogo" />
          <ui5-title level="H2"> {{ line.articleName }} </ui5-title>
        </div>
        <ui5-label> {{ line.weightSUL }} {{ line.weightSULuom }} </ui5-label>
      </div>
      <div fxLayout="column" fxLayoutAlign="center end">
        <ui5-title level="H2" class="main-font-color"> {{ line.requestedQuantity }} </ui5-title>
        <ui5-label class="main-font-color"> {{ 'COMMON.SHIPPED_QTY' | translate | titlecase }} </ui5-label>
        <ui5-label>
          {{ 'COMMON.LENGTH' | translate }}: <span> {{ line.length }} </span>
        </ui5-label>
        <ui5-label>
          {{ 'COMMON.WIDTH' | translate }}: <span> {{ line.width }} </span>
        </ui5-label>
        <ui5-label>
          {{ 'COMMON.HIGHT' | translate }}: <span> {{ line.height }} </span>
        </ui5-label>
        <ui5-label>
          {{ 'COMMON.STACKABLE' | translate }}:
          <span> {{ line.stackable ? 'Yes' : 'No' }} </span>
        </ui5-label>
      </div>
    </div>
    <ui5-panel [attr.header-text]="'COMMON.HAZMATS' | translate | titlecase">
      <ui5-bar class="transparent-bg">
        <ui5-button slot="startContent" *ngIf="!line.dangerousGoods" icon="add" (click)="openAddHazmatDialog()">
          {{ 'HAZMAT_DETAILS.ADD_HAZMAT' | translate | titlecase }}
        </ui5-button>
      </ui5-bar>
      <ui5-table data-ui5-compact-size>
        <ui5-table-column slot="columns">
          <span> {{ 'HAZMAT_DETAILS.HAZMAT_CLASS' | translate }} </span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span> {{ 'HAZMAT_DETAILS.HAZMAT_PACKAGING_GROUP' | translate }} </span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span> {{ 'HAZMAT_DETAILS.HAZMAT_PROPPER_SHIPPING_NAME' | translate }} </span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span> {{ 'HAZMAT_DETAILS.HAZMAT_UNCODE' | translate }} </span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
        </ui5-table-column>

        <ui5-table-row *ngFor="let hazmat of addHazmatFormGroup.controls" [formGroup]="getFormGroup(hazmat)">
          <ui5-table-cell><app-input formControlName="dgClass"></app-input> </ui5-table-cell>
          <ui5-table-cell><app-input formControlName="dgPackagingGroup"></app-input> </ui5-table-cell>
          <ui5-table-cell><app-input formControlName="dgProperName"></app-input></ui5-table-cell>
          <ui5-table-cell><app-input formControlName="hazmatUncode"></app-input></ui5-table-cell>
          <ui5-table-cell><ui5-button icon="delete" (click)="removeHazmatDetails()" ></ui5-button ></ui5-table-cell>
        </ui5-table-row>
      </ui5-table>
    </ui5-panel>
    <ui5-panel [attr.header-text]="'COMMON.THU_LONG' | translate | titlecase">
      <ui5-bar class="transparent-bg">
        <div slot="startContent">
          <ui5-label class="margin-right-1">
            {{ 'COMMON.THU_ID' | translate }}: <strong> {{ line.type }} </strong>
          </ui5-label>
          <ui5-label>
            {{ 'COMMON.QUANTITY' | translate }}/{{ 'COMMON.THU' | translate }}: <strong> {{ line.quantity }} </strong>
          </ui5-label>
        </div>
        <div slot="endContent">
          <ui5-label class="margin-right-1">
            {{ 'COMMON.WEIGHT' | translate }}/{{ 'COMMON.THU' | translate }}: <strong> {{ line.weightSUL }} </strong> {{ line.weightSULuom }}
          </ui5-label>
          <ui5-label>
            {{ 'COMMON.VOLUME' | translate }}/{{ 'COMMON.THU' | translate }}: <strong> {{ line.volumeSUL }} </strong> {{ line.volumeSULuom }}
          </ui5-label>
        </div>
      </ui5-bar>
      <ui5-table data-ui5-compact-size>
        <ui5-table-column slot="columns" class="w-100">
          <span> {{ 'COMMON.PACKAGE_MATERIAL' | translate }} </span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span> </span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span> {{ 'COMMON.QTY_PER_LAYER' | translate }} </span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span> {{ 'COMMON.LAYERS' | translate }} </span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span> {{ 'COMMON.LENGTH' | translate }}(MM) </span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span> {{ 'COMMON.WIDTH' | translate }}(MM) </span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span> {{ 'COMMON.HIGHT' | translate }}(MM) </span>
        </ui5-table-column>
        <ui5-table-column slot="columns">
          <span> {{ 'COMMON.PARTS_PER_UNIT' | translate }} </span>
        </ui5-table-column>

        <ng-container *ngIf="thuList$ | async as thu">
          <ui5-table-row *ngFor="let packMack of thu.packMaterialLayer">
            <ui5-table-cell class="w-100">
              <div>{{ packMack.packMaterial[0].oldMaterialNumber }}</div>
              <div>{{ packMack.packMaterial[0].materialDescription }}</div>
            </ui5-table-cell>
            <ui5-table-cell>
              <img width="50" height="50" [src]="packMack.packMaterial[0].imgUrl" alt="materialImage" />
            </ui5-table-cell>
            <ui5-table-cell> {{ packMack.maxPackMaterialPerLayer }} </ui5-table-cell>
            <ui5-table-cell> {{ packMack.numberOfLayers }} </ui5-table-cell>
            <ui5-table-cell> {{ packMack.packMaterial[0].length }} </ui5-table-cell>
            <ui5-table-cell> {{ packMack.packMaterial[0].width }} </ui5-table-cell>
            <ui5-table-cell> {{ packMack.packMaterial[0].height }} </ui5-table-cell>
            <ui5-table-cell>
              {{
                packMack.packMaterial[0].articleQuantityPerPackageMaterial === 0
                  ? ''
                  : packMack.packMaterial[0].articleQuantityPerPackageMaterial
              }}
            </ui5-table-cell>
          </ui5-table-row>
        </ng-container>
      </ui5-table>
    </ui5-panel>
  </ui5-page>
</div>

<app-dialog
  #addHazmatDialog
  [dialogHeader]="'HAZMAT_DETAILS.ADD_HAZMAT' | translate | titlecase"
  (close)="cancelAddHazmat()"
  (save)="saveAddHazmat()">
  <div
    *ngIf="addHazmatFormGroup.controls.length"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem"
    class="custom-address-form"
    [formGroup]="getFormGroup(addHazmatFormGroup.controls[0])">
    <app-input
      formControlName="dgClass"
      [inputClasses]="['w-100']"
      [vertical]="true"
      [label]="'HAZMAT_DETAILS.HAZMAT_CLASS' | translate | titlecase"></app-input>
    <app-input
      formControlName="dgPackagingGroup"
      [inputClasses]="['w-100']"
      [vertical]="true"
      [label]="'HAZMAT_DETAILS.HAZMAT_PACKAGING_GROUP' | translate | titlecase"></app-input>
    <app-input
      formControlName="dgProperName"
      [inputClasses]="['w-100']"
      [vertical]="true"
      [label]="'HAZMAT_DETAILS.HAZMAT_PROPPER_SHIPPING_NAME' | translate | titlecase"></app-input>
    <app-input
      formControlName="hazmatUncode"
      [inputClasses]="['w-100']"
      [vertical]="true"
      [label]="'HAZMAT_DETAILS.HAZMAT_UNCODE' | translate | titlecase"></app-input>
  </div>
</app-dialog>
