<div class="wizard-step">
  <ui5-title>{{ title }}</ui5-title>

  <ui5-button icon="add" (click)="addReasonCode()"> {{ 'COMMON.REASON_CODE_ADD' | translate }} </ui5-button>
  <div fxLayout="column" fxFlex fxLayoutAlign="stretch end" class="wizard-step__content" style="width: 100%">
    <ui5-table>
      <ui5-table-column slot="columns">
        <span> {{ 'COMMON.REASON_CODE_CAUSE' | translate }}</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span> {{ 'COMMON.REASON_CODE' | translate }} </span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span> {{ 'COMMON.REASON_CODE_SUB' | translate }} </span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span> {{ 'COMMON.REASON_CODE_REFERENCE' | translate }} </span>
      </ui5-table-column>

      <ui5-table-row
        data-ui5-compact-size
        *ngFor="let rowForm of form.controls; let i = index"
        (click)="assignEditingIndex(i)"
        [formGroup]="getFormGroup(rowForm)">
        <ui5-table-cell>
          <app-input
            [placeholder]="'COMMON.REASON_CODE_CAUSE' | translate"
            formControlName="cause"
            [icons]="[{ icon: 'value-help', action: openReasonCodesDialog }]"></app-input>
        </ui5-table-cell>
        <ui5-table-cell>
          <app-input
            [placeholder]="'COMMON.REASON_CODE' | translate"
            formControlName="subCode"
            [icons]="[{ icon: 'value-help', action: openSubCodesDialog }]"></app-input>
        </ui5-table-cell>
        <ui5-table-cell>
          <app-input
            [placeholder]="'COMMON.REASON_CODE_SUB' | translate"
            formControlName="secondSubCode"
            [icons]="[{ icon: 'value-help', action: openSecondSubCodesDialog }]"></app-input>
        </ui5-table-cell>
        <ui5-table-cell>
          <app-input [placeholder]="'COMMON.REASON_CODE_REFERENCE' | translate" formControlName="reference"></app-input>
        </ui5-table-cell>
      </ui5-table-row>
    </ui5-table>
  </div>

  <ui5-button (click)="goToNextStep()">Step {{ nextStepIndex }}</ui5-button>
</div>

<app-dialog #reasonCodeDialog [dialogHeader]= "'COMMON.REASON_CODE_CAUSE' | translate " [hideDefaultFooter]="true" accessibleName="Reason codes point value help">
  <ui5-list [noDataText]="'COMMON.NO_DATA' | translate">
    <ui5-li *ngFor="let reasonCode of reasonCodes$ | async" (click)="chooseReasonCode(reasonCode.generalCode)">
      {{ reasonCode.cause }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="closeReasonCodesDialog()"> {{ 'COMMON.BUTTON_CANCEL' | translate }} </ui5-button>
  </div>
</app-dialog>

<app-dialog #subCodeDialog [dialogHeader]="'COMMON.REASON_CODE' | translate" [hideDefaultFooter]="true" accessibleName="Sub code point value help">
  <ui5-list [noDataText]="'COMMON.NO_DATA' | translate">
    <ui5-li *ngFor="let subCode of subCodes$ | async" (click)="chooseSubCode(subCode)">
      {{ subCode.description }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="closeSubCodesDialog()"> {{ 'COMMON.BUTTON_CANCEL' | translate }} </ui5-button>
  </div>
</app-dialog>

<app-dialog
  #secondSubCodeDialog
  [dialogHeader]="'COMMON.REASON_CODE_SUB' | translate"
  [hideDefaultFooter]="true"
  accessibleName="reason sub code point value help">
  <ui5-list [noDataText]="'COMMON.NO_DATA' | translate">
    <ui5-li *ngFor="let secondSubCode of secondSubCodes$ | async" (click)="chooseSecondSubCode(secondSubCode)">
      {{ secondSubCode.description }}
    </ui5-li>
  </ui5-list>

  <div slot="footer">
    <ui5-button design="Transparent" (click)="closeSecondSubCodesDialog()"> {{ 'COMMON.BUTTON_CANCEL' | translate }} </ui5-button>
  </div>
</app-dialog>
