html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.ui5-panel-content {
  padding: 0 !important;
}

app-tbr-network-form {
  .network-form {
    margin-top: 4rem;

    div {
      width: 600px;
    }
  }

  ui5-input, ui5-date-picker {
    width: 400px;
  }
}

.custom-address-form {
  div {
    width: 600px;
  }
}
