html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.ui5-panel-content {
  padding: 0 !important;
}

app-tbr-network-form {
  .network-form {
    margin-top: 4rem;

    .after-icon {
      div {
        padding-right: calc(50px - 1.5rem);
      }
    }

    div {
      width: 600px;
      padding-right: 50px;

      &.table-container {
        width: 900px;
        padding-right: 0;
      }
    }
  }

  ui5-input, ui5-date-picker, ui5-select {
    width: 400px;
  }
}

.custom-address-form {
  div {
    width: 600px;
  }
}

ui5-icon {
  cursor: pointer;
}

ui5-wizard-step {
  ui5-title {
    margin-bottom: 1rem;
  }
}

.wizard-step {
  padding-inline: 2rem;
  flex-direction: column;
  align-items: flex-start;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__content {
    align-self: center;
  }

  ui5-input, ui5-date-picker, ui5-time-picker, ui5-select {
    width: 400px;
  }

  ui5-table-cell {
    ui5-input, ui5-date-picker, ui5-time-picker, ui5-select {
      width: 100%;
    }
  }
}

.w-100 {
  width: 100% !important;
}
