<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.5rem" [ngClass]="inputContainerClasses">
  <ng-content [before]></ng-content>
  <ui5-label *ngIf="label" [ngClass]="labelClasses" [for]="getId()" [required]="required" [showColon]="showColon"> {{ label }} </ui5-label>
  <ui5-input
    [ngClass]="inputClasses"
    #customInput
    [id]="getId()"
    [placeholder]="placeholder"
    [showSuggestions]="showSuggestions"
    [value]="value"
    [disabled]="disabled"
    [valueState]="valueState"
  >
    <ng-container *ngFor="let icon of icons">
      <ui5-icon *ngIf="icon.icon" slot="icon" [name]="icon.icon" (click)="icon.action && icon.action()"></ui5-icon>
    </ng-container>
  </ui5-input>
  <ng-content [after]></ng-content>
</div>
